<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Number</th>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% cards.forEach(({id, number, name, type, statusName}, index) => { %>
        <tr>
          <th><%= ++index %></th>
          <td><%= number %></td>
          <td><%= name %></td>
          <td><%= type %></td>
          <td><%= statusName %></td>
          <td>
            TODO
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>