<form action="/change-password" method="post">

  <%- include('_error', error) %>
  <%- include('_success', message) %>

  <div class="form-control">
    <label class="label">
      <span class="label-text">Old Password</span>
    </label>
    <input type="password" name="oldPassword" placeholder="Old Password" class="input input-bordered w-80" />
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">New Password</span>
    </label>
    <input type="password" name="password" placeholder="New Password" class="input input-bordered w-80" />
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text">Confirm Password</span>
    </label>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" class="input input-bordered w-80" />
  </div>

  <button type="submit" class="btn btn-primary my-5">Change Password</button>

</form>