<% const { id, name, host, port, type } = gate %>

<%- include('_error', error) %>

<form action="/gates/<%= id %>" method="post">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Name</span>
    </label>
    <input type="text" id="name" name="name" placeholder="Name" class="input input-bordered w-80" value="<%= name %>" />
  </div>
  
  <div class="form-control">
    <label class="label">
      <span class="label-text">Host</span>
    </label>
    <input type="text" id="host" name="host" placeholder="Host" class="input input-bordered w-80" value="<%= host %>" />
  </div>
  
  <div class="form-control">
    <label class="label">
      <span class="label-text">Port</span>
    </label>
    <input type="number" id="port" name="port" placeholder="Port" class="input input-bordered w-80" value="<%= port %>" />
  </div>
  
  <div class="form-control">
    <label class="label">
      <span class="label-text">Type</span>
    </label>

    <select name="type" id="type" class="select select-bordered w-80">
      <option disabled selected>-- Select Type --</option>
      <option value="person" <%= type == 'person' ? 'selected' : '' %>>Person</option>
      <option value="forklift" <%= type == 'forklift' ? 'selected' : '' %>>Forklift</option>
    </select>
  </div>

  <a href="/gates" class="btn mt-5">Cancel</a>
  <button class="btn btn-primary mt-5">Update</button>
</form>