<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Gate Name</th>
        <th>Host</th>
        <th>Port</th>
        <th>Gate Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% gates.forEach(({id, name, host, port, type}, index) => { %>
        <tr>
          <th><%= ++index %></th>
          <td><%= name %></td>
          <td><%= host %></td>
          <td><%= port %></td>
          <td><%= type %></td>
          <td>
            <a href="/gates/<%= id %>" for="my-modal" class="btn edit-btn" data-id="<%= id %>">Edit</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>



