<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <title>Login</title>
</head>
<body class="bg-purple-100">

  <div class="flex items-center justify-center h-screen">
    <div class="card bg-base-100 shadow-xl w-96">
      <form action="/login" method="post">
        <div class="card-body">
            <h2 class="card-title">Please Login!</h2>

            <%- include('_error', error) %>

            <input type="text" name="username" placeholder="Username" class="input input-bordered w-full max-w-xs my-2" />
            <input type="password" name="password" placeholder="Password" class="input input-bordered w-full max-w-xs my-2" />
          
          <div class="card-actions">
            <button type="submit" class="btn btn-primary w-full mt-2">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</body>
</html>