<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(({id, username}, index) => { %>
        <tr>
          <th><%= ++index %></th>
          <td><%= username %></td>
          <td>
            TODO
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>